doctype
html
head
    meta(charset="UTF-8")
body
    h1 welcome egg
    form(action="/geely-dataview/dataSource/upload" method="post" enctype="multipart/form-data")
        input(type="file" class="hidden" name="excel" id="file")
        input(type="submit" value="Submit")

